### What is Pandas?

Pandas is a Python library used for working with data sets.

It has functions for analyzing, cleaning, exploring, and manipulating data.

In [2]:
# To work with pandas library in python you need to import it
# Naming convention for pandas library is usually pd
import pandas as pd

### Pandas DataFrame

In [9]:
# Creating a DataFrame in pandas
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)

### pd.read_pickle

In [ ]:
df.to_pickle("full_pandas_tutorial.pkl")

In [7]:
new_df = pd.read_pickle("full_pandas_tutorial.pkl")

In [8]:
new_df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female